
<div class="container">
<dl>
  <dt><h3 class="lead"><%= @list.name %></h3></dt>
  <br>
  <blockquote>
  <dd><span class="glyphicon glyphicon-calendar"></span><%= @list.date %></dd>
  
  <footer><dd><%= simple_format(@list.note) %></dd></footer>
  </blockquote>
</dl>
</ul>

<nav>
  <ul class="pager">
    <li><%= link_to ' Back to index', lists_path %></li>
    
  </ul>
</nav>



</div>


  
